html{
  position: relative; min-height: 100%;
}
body{
  font-family: "Lato";
  padding-top: 70px;
  margin: 0 auto 150px;
}
.no-width{
  width: auto!important;
}
.margin-top-30{
  margin-top: 30px;
}
.margin-bot-20{
  margin-bottom: 20px;
}
.no-padding-left{
  padding-left: 0px;
}
footer{
  height: 100px;
  position: absolute; left: 0; bottom: 0; width: 100%;
  padding:40px;
  margin-top:20px;
  color: white;
  background-color:#222; /*e8491d*/
  text-align: center;
}

.margen-andres{
  padding-top: 20px;
  padding-bottom: 10px;
  margin-right: 20px;
  border-style:solid;
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}

.example3 .navbar-brand {
  height: 80px;
}

.example3 .nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
}
.example3 .navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}
.navbar-alignit .navbar-header {
	  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 50px;
}
.navbar-alignit .navbar-brand {
	top: 50%;
	display: block;
	position: relative;
	height: auto;
	transform: translate(0,-50%);
	margin-right: 15px;
  margin-left: 15px;
}


.navbar-nav>li>.dropdown-menu {
	z-index: 9999;
}

/* Main-col */
article#main-col{
  float:left;
  width:65%;
}
ul#services li{
  list-style: none;
  padding:20px;
  border: #cccccc solid 1px;
  margin-bottom:5px;
  background:#e6e6e6;
}
input[type=text],input[type=password],input[type=date],select,input[type=time],input[type=float],input[type=number]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus,input[type=float]:focus,input[type=number]:focus{
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
    width: 100%;
}

/*estilo botones*/
.buttonYellow{
  background-color: black;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%;
opacity: 0.9;

}


.buttonLight{
  background-color: #1B97BF;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%;
opacity: 0.9;

}

.buttonBlue{
  background-color: blue;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.buttonRed{
  background-color: red;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;

}
.button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
.buttonRed {
    background-color: red;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.buttonGreen {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.crearViaje{
  opacity: 0.8;
}

.cancelar {
    padding: 14px 20px;
    background-color: #f44336;
}

.cancelar, .crearViaje {
  float: left;
  width: 50%;
}
