body {font-family: Arial, Helvetica, sans-serif;}
 * {box-sizing: border-box}

/* estilo inputs */
input[type=text],input[type=date],select,input[type=time] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
    width: 100%;
}

/*estilo botones*/
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.crearViaje{
  opacity: 0.8;
}

.cancelar {
    padding: 14px 20px;
    background-color: #f44336;
}

.cancelar, .crearViaje {
  float: left;
  width: 50%;
}
/*todo el formulario esta en container*/
.container {
    padding: 16px;
    width: 50%;
}
